<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style>
#app {
  background:#4fa631;
  min-height:100vh;/* or min-height:100vh if you want it to grow */
  display:flex;
}
.container{
  background:white;
  display:flex;
}
.insertimg_form{
  margin-left:10px !important;
}
</style>
