<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <img src="@/assets/logo_ecosaude.png">
        <hr><br>
        <button type="button" class="btn btn-success btn-sm" v-b-modal.paciente-modal>
          Adicionar Paciente
        </button><br><br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Nascimento</th>
              <th scope="col">Queixa</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(paciente, index) in pacientes" :key="index">
              <td>
                <router-link :to="'/pacientes/'+paciente.id">
                  {{ paciente.nome }}
                </router-link>
              </td>
              <td v-if="paciente.nascimento">{{ paciente.nascimento | moment }}</td>
              <td v-else>--</td>
              <td v-if="paciente.queixa">{{ paciente.queixa }}</td>
              <td v-else>--</td>
              <td>
                <div class="btn-group" role="group">
                  <button
                          type="button"
                          class="btn btn-warning btn-sm"
                          v-b-modal.paciente-update-modal
                          @click="editPaciente(paciente)">
                      Editar
                  </button>
                  <button
                          type="button"
                          class="btn btn-danger btn-sm"
                          @click="onDeletePaciente(paciente)">
                      Deletar
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <b-modal ref="addPacienteModal"
            id="paciente-modal"
            title="Adicionar novo paciente"
            hide-footer>
      <b-form @submit="onSubmit" @reset="onReset" class="w-100">
      <b-form-group id="form-nome-group"
                    label="Nome:"
                    label-for="form-nome-input">
          <b-form-input id="form-nome-input"
                        type="text"
                        v-model="addPacienteForm.nome"
                        required
                        placeholder="Digite o nome">
          </b-form-input>
        </b-form-group>
        <b-form-row>
          <b-col>
            <b-form-group id="form-estatura-group"
                          label="Estatura:"
                          label-for="form-estatura-input">
                <b-form-input id="form-estatura-input"
                              type="text"
                              v-model="addPacienteForm.estatura"                              
                              placeholder="Digite a estatura">
                </b-form-input>
              </b-form-group>
          </b-col>
          <b-col>
            <b-form-group id="form-peso-group"
                        label="Peso:"
                        label-for="form-peso-input">
              <b-form-input id="form-peso-input"
                            type="text"
                            v-model="addPacienteForm.peso"                            
                            placeholder="Digite o peso">
              </b-form-input>
            </b-form-group>
          </b-col>
          </b-form-row>
          <b-form-row>
            <b-col>
              <b-form-group id="form-nascimento-group"
                          label="Nascimento:"
                          label-for="form-nascimento-input">
                <b-form-input id="form-nascimento-input"
                              v-model="addPacienteForm.nascimento"                              
                              type="date"
                              locale="pt-BR"
                              placeholder="Digite a data de nascimento">
                </b-form-input>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group id="form-inicio-group"
                          label="Inicio:"
                          label-for="form-inicio-input">
                <b-form-input id="form-inicio-input"
                              v-model="addPacienteForm.inicio"                              
                              type="date"
                              locale="pt-BR"
                              placeholder="Digite a data de inicio">
                </b-form-input>
              </b-form-group>
            </b-col>
          </b-form-row>
          <b-form-group id="form-genero-group"
                          label="Genero:"
                          label-for="form-genero-input">
            <b-form-select id="form-genero-input"
                            type="text"
                            v-model="addPacienteForm.genero"
                            :options="genero"
                            required
                            placeholder="Selecione o genero">
            </b-form-select>
          </b-form-group>
          <b-form-group id="form-queixa-group"
                      label="Queixa:"
                      label-for="form-queixa-input">
            <b-form-input id="form-queixa-input"
                          type="text"
                          v-model="addPacienteForm.queixa"                          
                          placeholder="Digite a principal queixa">
            </b-form-input>
          </b-form-group>
        <b-button-group>
          <b-button type="submit" variant="primary">Enviar</b-button>
          <b-button type="reset" variant="danger">Resetar</b-button>
        </b-button-group>
      </b-form>
    </b-modal>
    <b-modal ref="editPacienteModal"
            id="paciente-update-modal"
            title="Editar um paciente"
            hide-footer>
      <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
      <b-form-group id="form-nome-edit-group"
                    label="Nome:"
                    label-for="form-nome-edit-input">
          <b-form-input id="form-nome-edit-input"
                        type="text"
                        v-model="editPacienteForm.nome"
                        required
                        placeholder="Digite o nome">
          </b-form-input>
        </b-form-group>
        <b-form-row>
          <b-col>
            <b-form-group id="form-estatura-edit-group"
                          label="Estatura:"
                          label-for="form-estatura-edit-input">
                <b-form-input id="form-estatura-edit-input"
                              type="text"
                              v-model="editPacienteForm.estatura"                              
                              placeholder="Digite a estatura">
                </b-form-input>
              </b-form-group>
          </b-col>
          <b-col>
              <b-form-group id="form-peso-edit-group"
                          label="Peso:"
                          label-for="form-peso-edit-input">
                <b-form-input id="form-peso-edit-input"
                              type="text"
                              v-model="editPacienteForm.peso"                              
                              placeholder="Digite o peso">
                </b-form-input>
              </b-form-group>
          </b-col>
        </b-form-row>
        <b-form-row>
          <b-col>
            <b-form-group id="form-nascimento-edit-group"
                        label="Nascimento:"
                        label-for="form-nascimento-edit-input">
              <b-form-input id="form-nascimento-edit-input"
                            type="date"
                            locale="pt-BR"
                            v-model="editPacienteForm.nascimento"                            
                            placeholder="Digite a data de nascimento">
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group id="form-inicio-edit-group"
                        label="Inicio:"
                        label-for="form-inicio-edit-input">
              <b-form-input id="form-inicio-edit-input"
                            type="date"
                            locale="pt-BR"
                            v-model="editPacienteForm.inicio"                            
                            placeholder="Digite a data de inicio">
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-form-row>
          <b-form-group id="form-genero-edit-group"
                          label="Genero:"
                          label-for="form-genero-edit-input">
            <b-form-select id="form-genero-edit-input"
                            type="text"
                            v-model="editPacienteForm.genero"
                            :options="genero"
                            required
                            placeholder="Selecione o genero">
            </b-form-select>
          </b-form-group>
            <b-form-group id="form-queixa-edit-group"
                        label="Queixa:"
                        label-for="form-queixa-edit-input">
              <b-form-input id="form-queixa-edit-input"
                            type="text"
                            v-model="editPacienteForm.queixa"                            
                            placeholder="Digite a principal queixa">
              </b-form-input>
            </b-form-group>
        <b-button-group>
          <b-button type="submit" variant="primary">Salvar</b-button>
          <b-button type="reset" variant="danger">Cancelar</b-button>
        </b-button-group>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios';
import moment from 'moment';

export default {
  data() {
    return {
      key: '',
      pacientes: [],
      genero: [],
      addPacienteForm: {
        id: '',
        nome: '',
        estatura: '',
        peso: '',
        nascimento: '',
        inicio: '',
        queixa: '',
        genero: '',
      },
      message: '',
      showMessage: false,
      editPacienteForm: {
        id: '',
        nome: '',
        estatura: '',
        peso: '',
        nascimento: '',
        inicio: '',
        queixa: '',
        genero: '',
      },
    };
  },
  methods: {
    getPacientes() {
      const my_url = process.env.VUE_APP_PYTHON_URL;
      const path = `http://${my_url}:5000/pacientes`;
      axios.create({withCredentials: true}).get(path)
        .then((res) => {
          this.pacientes = res.data.pacientes;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    addPaciente(payload) {
      const my_url = process.env.VUE_APP_PYTHON_URL;
      const path = `http://${my_url}:5000/pacientes`;
      axios.create({withCredentials: true}).post(path, payload)
        .then(() => {
          this.getPacientes();
          this.message = 'Paciente adicionado!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error);
          this.getPacientes();
        });
    },
    initForm() {
      this.addPacienteForm.id = '';
      this.addPacienteForm.nome = '';
      this.addPacienteForm.estatura = '';
      this.addPacienteForm.peso = '';
      this.addPacienteForm.nascimento = '';
      this.addPacienteForm.inicio = '';
      this.addPacienteForm.queixa = '';
      this.addPacienteForm.genero = '';
      this.editPacienteForm.id = '';
      this.editPacienteForm.nome = '';
      this.editPacienteForm.estatura = '';
      this.editPacienteForm.peso = '';
      this.editPacienteForm.nascimento = '';
      this.editPacienteForm.inicio = '';
      this.editPacienteForm.queixa = '';
      this.editPacienteForm.genero = '';
    },
    onSubmit(evt) {
      evt.preventDefault();
      this.$refs.addPacienteModal.hide();
      const payload = {
        id: this.addPacienteForm.id,
        nome: this.addPacienteForm.nome,
        estatura: this.addPacienteForm.estatura,
        peso: this.addPacienteForm.peso,
        nascimento: this.addPacienteForm.nascimento,
        inicio: this.addPacienteForm.inicio,
        queixa: this.addPacienteForm.queixa,
        genero: this.addPacienteForm.genero,
      };
      this.addPaciente(payload);
      this.initForm();
    },
    onReset(evt) {
      evt.preventDefault();
      this.$refs.addPacienteModal.hide();
      this.initForm();
    },
    editPaciente(paciente) {
      this.editPacienteForm = paciente;
    },
    onSubmitUpdate(evt) {
      evt.preventDefault();
      this.$refs.editPacienteModal.hide();
      const payload = {
        id: this.editPacienteForm.id,
        nome: this.editPacienteForm.nome,
        estatura: this.editPacienteForm.estatura,
        peso: this.editPacienteForm.peso,
        nascimento: this.editPacienteForm.nascimento,
        inicio: this.editPacienteForm.inicio,
        queixa: this.editPacienteForm.queixa,
        genero: this.editPacienteForm.genero,
      };
      this.updatePaciente(payload, this.editPacienteForm.id);
    },
    updatePaciente(payload, pacienteID) {
      const my_url = process.env.VUE_APP_PYTHON_URL;
      const path = `http://${my_url}:5000/pacientes/${pacienteID}`;
      axios.create({withCredentials: true}).put(path, payload)
        .then(() => {
          this.getPacientes();
          this.message = 'Paciente atualizado!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getPacientes();
        });
    },
    onResetUpdate(evt) {
      evt.preventDefault();
      this.$refs.editPacienteModal.hide();
      this.initForm();
      this.getPacientes(); // why?
    },
    removePaciente(pacienteID) {
      const my_url = process.env.VUE_APP_PYTHON_URL;
      const path = `http://${my_url}:5000/pacientes/${pacienteID}`;
      axios.create({withCredentials: true}).delete(path)
        .then(() => {
          this.getPacientes();
          this.message = 'Paciente removido!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getPacientes();
        });
    },
    onDeletePaciente(paciente) {
      this.removePaciente(paciente.id);
    },
    goToUser: function(paciente){
      console.log(paciente);
      this.$router.push('/pacientes/'+paciente.id);
    },
  },
  beforeCreate: function () {
    if (!this.$session.exists()) {
      this.$router.push('/login');
    }
  },
  created() {
    if (this.$session.exists()) {
      this.key = this.$session.get('key');
      this.genero = [{value: '', text: 'Selecione o genero'},
                    {value: 'Masculino', text: 'Masculino'},
                    {value: 'Feminino', text: 'Feminino'},
                    ];
      this.getPacientes();
    }
  },
  filters: {
    moment: function (date) {
      return moment(date).format('DD/MM/YYYY');
    }
  },
};
</script>
<style scoped>
.row{
  width:100%;
}
.modal-backdrop {
  opacity: 0;
}
</style>
