<template>
  <div class="row col-md-12" id="app">
    <div class="login_container">
      <h3 class="title">Ecosaude</h3>
      <b-form @submit.stop.prevent="onSubmit">
          <b-form-group id="form-user-group"
                          label="Usuario:"
                          label-for="form-user-group-input">
            <b-form-input id="form-user-group-input"
                            type="text"
                            v-model="user"
                            required
                            placeholder="Usuario:">
            </b-form-input>
          </b-form-group>
            <b-form-group id="form-password-group"
                        label="Password:"
                        label-for="form-password-input">
              <b-form-input id="form-password-input"
                            type="password"
                            required
                            v-model="password"                            
                            placeholder="Senha:">
              </b-form-input>
            </b-form-group>
        <b-button type="submit" variant="primary" class="mybtn">Login</b-button>
      </b-form>
      <span class="copyright">ECOSAUDE - Developed by Guilherme - 2021 </span>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import md5 from 'js-md5';

  export default {
    data() {
      return {
        user: '',
        password: '',
        credentials: null,
      }
    },
    methods: {
      fetchSession: function(){
        const my_url = process.env.VUE_APP_PYTHON_URL;
        return axios.create({withCredentials: true}).post(`http://${my_url}:5000/login`, {
            user: this.user,
            password: md5(this.password)
          })
        .then(res => {
          if (res.data){
            this.credentials = res.data;
          }
        });
      },
      getSession: function(){
        return this.fetchSession().then(() =>{
          if (this.credentials){
            this.$session.start();
            this.$session.set('key', this.credentials);
            this.$router.push('/');
          }          
        });
      },
      onSubmit: function(evt) {
        this.getSession();
      },
    },
  }
</script>

<style>
.mybtn{
  width:100%;
}
.title{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background: -webkit-linear-gradient(#99223e,#ffd000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.copyright{
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #000;
}
.login_container{
  left: 25%;
  position: absolute;
  padding: 5px;
  width: 50%;
  border: 1px solid #dddddd;
  background: white;
  top:15%;
  display: inline-grid;
}
</style>