<template>
  <div class="container" ref="content">
    <div class="row">
      <div class="col-sm-10">
        <img src="@/assets/logo_ecosaude.png">
        <hr><br>
        <router-link :to="'/'">
          <button type="button" class="btn btn-success btn-sm">
            Voltar
          </button>
        </router-link>
        <b-form class="w-100">
          <b-form-row>
            <b-col>
              <b-form-group id="form-nome-paciente-group"
                            label="Nome:"
                            label-cols-sm="1"
                            label-size="sm"
                            label-for="form-nome-paciente-input">
                  <b-form-input id="form-nome-paciente-input"
                                type="text"
                                v-model="paciente.nome"                                
                                disabled
                                placeholder="Digite o nome">
                  </b-form-input>
                </b-form-group>
            </b-col>
          </b-form-row>
          <b-form-row>
            <b-col>
              <b-form-group id="form-estatura-paciente-group"
                            label="Estatura:"
                            label-cols-sm="2"
                            label-size="sm"
                            label-for="form-estatura-paciente-input">
                  <b-form-input id="form-estatura-paciente-input"
                                type="text"
                                v-model="paciente.estatura"                                
                                disabled
                                placeholder="--">
                  </b-form-input>
                </b-form-group>
            </b-col>
            <b-col>
                <b-form-group id="form-peso-paciente-group"
                            label="Peso:"
                            label-cols-sm="1"
                            label-size="sm"
                            label-for="form-peso-paciente-input">
                  <b-form-input id="form-peso-paciente-input"
                                type="text"
                                v-model="paciente.peso"                                
                                disabled
                                placeholder="--">
                  </b-form-input>
                </b-form-group>
            </b-col>
          </b-form-row>
          <b-form-row>
            <b-col>
              <b-form-group id="form-nascimento-paciente-group"
                          label="Nascimento:"
                          label-cols-sm="2"
                          label-size="sm"
                          label-for="form-nascimento-paciente-input">
                <b-form-input id="form-nascimento-paciente-input"
                              type="date"
                              locale="pt-BR"
                              disabled
                              v-model="paciente.nascimento"                              
                              placeholder="Digite a data de nascimento">
                </b-form-input>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group id="form-inicio-paciente-group"
                          label="Inicio:"
                          label-cols-sm="1"
                          label-size="sm"
                          label-for="form-inicio-paciente-input">
                <b-form-input id="form-inicio-paciente-input"
                              type="date"
                              locale="pt-BR"
                              v-model="paciente.inicio"
                              disabled                              
                              placeholder="Digite a data de inicio">
                </b-form-input>
              </b-form-group>
            </b-col>
          </b-form-row>
          <b-form-row>
              <b-col>
              <b-form-group id="form-queixa-paciente-group"
                          label="Queixa:"
                          label-cols-sm="1"
                          label-size="sm"
                          label-for="form-queixa-paciente-input">
                <b-form-input id="form-queixa-paciente-input"
                              type="text"
                              v-model="paciente.queixa"                              
                              disabled
                              placeholder="--">
                </b-form-input>
              </b-form-group>
              </b-col>
          </b-form-row>
          <b-form-row>
              <b-col>
              <b-form-group id="form-genero-paciente-group"
                          label="Genero:"
                          label-cols-sm="1"
                          label-size="sm"
                          label-for="form-genero-paciente-input">
                <b-form-input id="form-genero-paciente-input"
                              type="text"
                              v-model="paciente.genero"                              
                              disabled
                              placeholder="--">
                </b-form-input>
              </b-form-group>
              </b-col>
          </b-form-row>
          </b-form>
          <button type="button" class="btn btn-success btn-sm" v-b-modal.paciente-leitura-modal>
            Adicionar Leitura
          </button>
          <button type="button" class="btn btn-success btn-sm" @click="makePDF">
            PDF
          </button>
        <br><br>
      </div>
      <table id="mytable" ref="mytable" class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Tempo</th>
              <th scope="col">Movimento</th>
              <th scope="col">Pico de Força</th>
              <th scope="col">Média</th>
              <th scope="col">Referência</th>
              <th scope="col">Dominante</th>
              <th scope="col">Assimetria</th>
              <th scope="col">Data</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(leitura, index) in paciente.leituras" :key="index">
              <td>{{leitura.tempo}}</td>
              <td>{{leitura.movimento_id}}</td>
              <td v-if="leitura.pico">{{leitura.pico}}</td>
              <td v-else>--</td>
              <td v-if="leitura.media">{{leitura.media}}</td>
              <td v-else>--</td>
              <td v-if="leitura.referencia">{{leitura.referencia}}</td>
              <td v-else>--</td>
              <td><span v-if="leitura.dominante">Sim</span>
                  <span v-else>Não</span>
              </td>
              <td v-if="leitura.assimetria">{{leitura.assimetria}}</td>
              <td v-else>--</td>
              <td v-if="leitura.data">{{leitura.data | moment}}</td>
              <td v-else>--</td>
              <td>
                <div class="btn-group" role="group">
                  <button
                          type="button"
                          class="btn btn-warning btn-sm"
                          v-b-modal.paciente-edit-leitura-modal
                          @click="editLeitura(leitura)">
                      Editar
                  </button>
                  <button
                          type="button"
                          class="btn btn-danger btn-sm"
                          @click="onDeleteLeitura(leitura)">
                      Deletar
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
      </table>
      <div class="separator" v-for="(leitura, ikey) in this.paciente.leituras" :key="ikey">
        <div class="row">
          <div class="col-md-12 id_movimento_legenda" v-if="leitura.path">
            <span >{{leitura.movimento_id}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8" v-if="leitura.path">
            <img class="w-90" :src="leitura.path" />
          </div>
          <div class="col-md-4 pt-8" v-if="leitura.path">
              <BarChart
                :ref="'mychart'+leitura.id"
                :chartdata="getChart(leitura)"
                :options="options"/>
          </div>
        </div>
      </div>
    </div>
    <b-modal ref="addLeituraModal"
            id="paciente-leitura-modal"
            title="Adicionar nova leitura"
            hide-footer
            @hidden="onHiddenAdd">
      <b-form @submit="onSubmit" enctype="multipart/form-data" @reset="onReset" class="w-100">
        <b-form-row>
          <b-col>
            <b-form-group id="form-paciente-leitura-tempo-group"
                          label="Tempo (segundos):"
                          label-for="form-paciente-leitura-tempo-input">
              <b-form-select id="form-paciente-leitura-tempo-input"
                            :options="opt_tempo"
                            v-model="addLeituraForm.tempo"
                            required
                            placeholder="Selecione o tempo da leitura">
              </b-form-select>
            </b-form-group>
            <b-form-group id="form-paciente-leitura-movimento-group"
                          label="Movimento:"
                          label-for="form-paciente-leitura-movimento-input">
              <b-form-select id="form-paciente-leitura-movimento-input"
                            type="text"
                            v-model="addLeituraForm.movimento_id"
                            :options="opt_movimentos"
                            required
                            placeholder="Selecione o tipo movimento">
              </b-form-select>
            </b-form-group>
            <b-form-group id="form-paciente-leitura-pico-group"
                          label="Pico de Força:"
                          label-for="form-paciente-leitura-pico-input">
              <b-form-input id="form-paciente-leitura-pico-input"
                            type="text"
                            v-model="addLeituraForm.pico"                            
                            placeholder="Digite o pico de força">
              </b-form-input>
            </b-form-group>
            <b-form-group id="form-paciente-leitura-media-group"
                          label="Media:"
                          label-for="form-paciente-leitura-media-input">
              <b-form-input id="form-paciente-leitura-media-input"
                            type="text"
                            v-model="addLeituraForm.media"                            
                            placeholder="Digite a media de força">
              </b-form-input>
            </b-form-group>
            <b-form-group id="form-paciente-leitura-dominante-group"
                          label-for="form-paciente-leitura-dominante-input">
              <b-form-checkbox-group id="form-paciente-leitura-dominante-input"
                            v-model="addLeituraForm.dominante">
                            <b-form-checkbox value="1">Dominante</b-form-checkbox>
              </b-form-checkbox-group>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group id="form-paciente-leitura-dominado-group"
                          label="Dominado:"
                          label-for="form-paciente-leitura-dominado-input">
              <b-form-select id="form-paciente-leitura-dominado-input"
                            :options="opt_leitura"
                            ref="dominado_id"
                            :disabled="setDisabledByDominante(addLeituraForm.dominante)"
                            v-model="addLeituraForm.dominado_id"                            
                            placeholder="Selecione o dominado:">
              </b-form-select>
            </b-form-group>
            <b-form-group id="form-paciente-leitura-data-group"
                          label="Data:"
                          label-for="form-paciente-leitura-data-input">
              <b-form-input id="form-paciente-leitura-data-input"
                            type="date"
                            locale="pt-BR"
                            v-model="addLeituraForm.data"
                            placeholder="Digite a data da leitura">
              </b-form-input>
            </b-form-group>
            <b-form-group id="form-paciente-leitura-file-group"
                          label="Inserir grafico:"
                          label-for="form-paciente-leitura-file-input">
              <b-form-file id="form-paciente-leitura-file-input"
                              v-model="addLeituraForm.file"
                              @change="previewImg"
                              placeholder="Inserir grafico:">
              </b-form-file>
            </b-form-group>
            <div class="mb-3">
                <img class="img-50" :src="file_path" alt="a imagem aparecera aqui"/>
            </div>
          </b-col>
        </b-form-row>
        <b-button-group>
          <b-button type="submit" variant="primary">Enviar</b-button>
          <b-button type="reset" variant="danger">Resetar</b-button>
        </b-button-group>
      </b-form>
    </b-modal>
    <b-modal ref="editLeituraModal"
            id="paciente-edit-leitura-modal"
            title="Editar leitura"
            hide-footer
            @hidden="onHiddenEdt">
      <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
        <b-form-row>
          <b-col>
            <b-form-group id="form-paciente-leitura-tempo-edit-group"
                          label="Tempo (segundos):"
                          label-for="form-paciente-leitura-tempo-edit-input">
              <b-form-select id="form-paciente-leitura-tempo-edit-input"
                            v-model="editLeituraForm.tempo"
                            required
                            :options="opt_tempo"
                            placeholder="Selecione o tempo da leitura">
              </b-form-select>
            </b-form-group>
            <b-form-group id="form-paciente-leitura-movimento-edit-group"
                          label="Movimento:"
                          label-for="form-paciente-leitura-movimento-edit-input">
              <b-form-select id="form-paciente-leitura-movimento-edit-input"
                            :options="opt_movimentos"
                            v-model="editLeituraForm.movimento_id"
                            required
                            placeholder="Selecione o tipo movimento">
              </b-form-select>
            </b-form-group>
            <b-form-group id="form-paciente-leitura-pico-edit-group"
                          label="Pico de Força:"
                          label-for="form-paciente-leitura-pico-edit-input">
              <b-form-input id="form-paciente-leitura-pico-edit-input"
                            type="text"
                            v-model="editLeituraForm.pico"                            
                            placeholder="Digite o pico de força">
              </b-form-input>
            </b-form-group>
            <b-form-group id="form-paciente-leitura-media-edit-group"
                          label="Media:"
                          label-for="form-paciente-leitura-media-edit-input">
              <b-form-input id="form-paciente-leitura-media-edit-input"
                            type="text"
                            v-model="editLeituraForm.media"                            
                            placeholder="Digite a media de força">
              </b-form-input>
            </b-form-group>
            <b-form-group id="form-paciente-leitura-dominante-edit-group"
                          label-for="form-paciente-leitura-dominante-edit-input">
              <b-form-checkbox-group id="form-paciente-leitura-dominante-edit-input"
                            v-model="editLeituraForm.dominante">
                            <b-form-checkbox value="1">Dominante</b-form-checkbox>
              </b-form-checkbox-group>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group id="form-paciente-leitura-dominado-edit-group"
                          label="Dominado:"
                          label-for="form-paciente-leitura-dominado-edit-input">
              <b-form-select id="form-paciente-leitura-dominado-input"
                            :options="opt_leitura"
                            ref="dominado_edt_id"
                            :disabled="setDisabledByDominante(editLeituraForm.dominante)"
                            v-model="editLeituraForm.dominado_id"                        
                            placeholder="Selecione o dominado:">
              </b-form-select>
            </b-form-group>
            <b-form-group id="form-paciente-leitura-data-edit-group"
                          label="Data:"
                          label-for="form-paciente-leitura-data-edit-input">
              <b-form-input id="form-paciente-leitura-data-edit-input"
                            type="date"
                            locale="pt-BR"
                            v-model="editLeituraForm.data"
                            required
                            placeholder="Digite a data da leitura">
              </b-form-input>
            </b-form-group>
            <b-form-group id="form-paciente-leitura-file-edit-group"
                          label="Inserir grafico:"
                          label-for="form-paciente-leitura-file-edit-input">
              <b-form-file id="form-paciente-leitura-file-edit-input"
                              v-model="editLeituraForm.file"
                              @change="previewImg"
                              placeholder="Inserir grafico:">
              </b-form-file>
            </b-form-group>
            <div class="mb-3">
              <img class="img-50" :src="file_path" alt="a imagem aparecera aqui"/>
            </div>
          </b-col>
        </b-form-row>
        <b-button-group>
          <b-button type="submit" variant="primary">Enviar</b-button>
          <b-button type="reset" variant="danger">Resetar</b-button>
        </b-button-group>
      </b-form>
    </b-modal>    
  </div>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import jsPDF from 'jspdf';
import 'jspdf-autotable';
import BarChart from './BarChart.vue';
import ChartJSPluginDatalabels from "chartjs-plugin-datalabels";

export default {
  data() {
    return {
      key: '',
      paciente: [],
      max_value: 1,
      addLeituraForm: {
        id: '',
        tempo: '',
        movimento_id: '',
        pico: '',
        media: '',
        dominante: 0,
        data: '',
        file: '',
        dominado_id: 0,
      },
      editLeituraForm: {
        id: '',
        tempo: '',
        movimento_id: '',
        pico: '',
        media: '',
        dominante: 0,
        data: '',
        file: '',
        dominado_id: 0,
      },
      message: '',
      showMessage: false,
      file_path: '',
      opt_tempo: [],
      opt_leitura: [],
      opt_movimentos: [],
      mycharts: [],
      options: {
        animation: {
          duration: 0,
        },
				scales: {
					yAxes: [{
						ticks: {
              beginAtZero: false,
						},
						gridLines: {
							display: false
						},
            barThickness: 15,
            stacked: true,
					}],
					xAxes: [{
						ticks: {
              beginAtZero: false,
              display: false,
						},
						gridLines: {
							display: false
            },
					}]
				},
				legend: {
					display: false
				},
				tooltips: {
					enabled: false,
				},
				responsive: true,
				maintainAspectRatio: true,
        height: 100,
        layout: {
          padding: {
              left: 8,
              right: 28,
              top: 8,
              bottom: 8
          },
        },
        plugins: {
          datalabels: {
            //color: '#000000',
            //anchor: 'end',
            //align: 'right',
            //font: {
            //  size: 11,
            //}
            display:false,
          },
        }
			},
    };
  },
  methods: {
    getChart(leitura){
      let mylabels = ['Pico de Força', 'Média'];
      let mydata = [];
      let nelements = 2;
      mydata.push(parseInt(leitura.pico));
      mydata.push(parseInt(leitura.media));
      if (parseInt(leitura.assimetria) != 0 ){
        mydata.push(parseInt(leitura.assimetria));
        mylabels.push('Assimetria');
        nelements = nelements + 1;
      }
      let min = [];
      let max = [];
      let tenth = 10;
      let ite = 1;
      if(this.max_value > 10 && this.max_value <= 100){
        tenth = 100;
      }
      else if(this.max_value > 100){
        while(this.max_value > tenth){
          ite = ite + 1;
          tenth = 100*ite;
        }
      }
      for(let i = 0; i < nelements; i++){
        min.push(parseInt(tenth*-1));
        max.push(parseInt(tenth));
      }
      return {
        labels: mylabels,
				datasets: [
					{
						label: 'Data One',
						backgroundColor: '#80B918',
						pointBackgroundColor: 'white',
						borderWidth: 1,
						pointBorderColor: '#249EBF',
            data: mydata,
            offset:100,
            datalabels: {
              color: '#000000',
              anchor: 'start',
              align: 'right',
              font: {
                size: 11,
              },
              display:true,
            }
					},{
            label: 'Data Two',
						backgroundColor: '#89907c',
						pointBackgroundColor: 'white',
						borderWidth: 1,
						pointBorderColor: '#249EBF',
						data: max,
            datalabels: {
              color: '#000000',
              anchor: 'end',
              align: 'top',
              font: {
                size: 11,
              },
              display:false,
            }
					},{
            label: 'Data Three',
						backgroundColor: '#89907c',
						pointBackgroundColor: 'white',
						borderWidth: 1,
						pointBorderColor: '#249EBF',
						data: min,
            datalabels: {
              color: '#000000',
              anchor: 'start',
              align: 'top',
              font: {
                size: 11,
              },
              display:false,
            }
					}],
      }
    },
    getPaciente() {
      const my_url = process.env.VUE_APP_PYTHON_URL;
      const path = `http://${my_url}:5000/pacientes/${this.$route.params.pid}`;
      axios.create({withCredentials: true}).get(path)
        .then((res) => {
          this.paciente = res.data.paciente;
          this.initOptLeitura();
          this.getMaxValue();
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    getMovimentos() {
      const my_url = process.env.VUE_APP_PYTHON_URL;
      const path = `http://${my_url}:5000/movimentos`;
      axios.create({withCredentials: true}).get(path)
        .then((res) => {
          this.opt_movimentos = res.data.movimentos;
          this.opt_movimentos.push({value: '', text: 'Selecione o movimento'});
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    getMaxValue() {
      const my_url = process.env.VUE_APP_PYTHON_URL;
      const path = `http://${my_url}:5000/pacientes/${this.paciente.id}/max`;
      axios.create({withCredentials: true}).get(path)
        .then((res) => {
          this.max_value = res.data.max_value.maxvalue;
          for(let i = 0; i < this.paciente.leituras.length; i++){
            const chartid = 'mychart'+this.paciente.leituras[i].id;
            if(this.$refs[chartid][0]){
              this.$refs[chartid][0].renderChart(this.getChart(this.paciente.leituras[i]),this.options);
            }
          }
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    initOptLeitura() {
      this.opt_leitura = [];
      this.opt_leitura = [{value: '0', text: 'Selecione o dominado'}];
      if (this.paciente.leituras){
        this.paciente.leituras.forEach(element => {
          const leitura_data=element.tempo.toString()+','+element.data.toString()+','
                              +element.movimento_id.toString()+','
                              +element.pico.toString()+','+element.media.toString()
          if(element.dominado_id == 0){
            this.opt_leitura.push({value:element.id,text:leitura_data,disabled:false});
          }else{
            this.opt_leitura.push({value:element.id,text:leitura_data,disabled:true});
          }
        });
      }
    },
    getLeituras() {
      const my_url = process.env.VUE_APP_PYTHON_URL;
      const path = `http://${my_url}:5000/pacientes/${this.paciente.id}/leituras`;
      axios.create({withCredentials: true}).get(path)
        .then((res) => {
          this.paciente.leituras = res.data.leituras;
          this.initOptLeitura();
          this.getMaxValue();
          //const chartid = 'mychart'+this.leitura.id;
          //this.$refs[chartid][0].renderChart(this.getChart(this.leitura),this.options);
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    editLeitura(leitura) {
      this.editLeituraForm = leitura;
      this.file_path = leitura.path;
    },
    onSubmitUpdate(evt) {
      evt.preventDefault();
      if(this.editLeituraForm.dominante == 1 && this.editLeituraForm.dominado_id == 0 ||
        (this.editLeituraForm.dominante == 1 
          && this.editLeituraForm.dominado_id == this.editLeituraForm.id )){
        this.$refs.dominado_edt_id.focus();
        return false;
      }
      this.$refs.editLeituraModal.hide();
      let dominante = 0;
      if (this.getDominante(this.editLeituraForm.dominante)){
        dominante = 1;
      }
      let formData = new FormData();
      formData.append('id',this.editLeituraForm.id);
      formData.append('paciente', this.paciente.id);
      formData.append('tempo', this.editLeituraForm.tempo);
      formData.append('movimento_id', this.editLeituraForm.movimento_id);
      formData.append('pico', this.editLeituraForm.pico);
      formData.append('media', this.editLeituraForm.media);
      formData.append('dominante', dominante);
      formData.append('data', this.editLeituraForm.data); 
      formData.append('file', this.editLeituraForm.file);
      formData.append('dominado_id', this.editLeituraForm.dominado_id);
      this.updateLeitura(formData, this.editLeituraForm.id);
      this.initFormEdt();
    },
    updateLeitura(payload, leituraID) {
      const my_url = process.env.VUE_APP_PYTHON_URL;
      const path = `http://${my_url}:5000/pacientes/${this.paciente.id}/leituras/${leituraID}`;
      axios.create({withCredentials: true}).put(path, payload, { headers: { 'Content-Type': 'multipart/form-data' } })
        .then(() => {
          this.message = 'Leitura atualizada!';
          this.showMessage = true;
          this.getLeituras();
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getLeituras();
        });
    },
    onResetUpdate(evt) {
      evt.preventDefault();
      this.$refs.editLeituraModal.hide();
      this.initFormEdt();
      this.getLeituras(); // why?
    },
    initFormEdt() {
      this.editLeituraForm.id = '';
      this.editLeituraForm.tempo = '';
      this.editLeituraForm.movimento_id = '';
      this.editLeituraForm.pico = '';
      this.editLeituraForm.media = '';
      this.editLeituraForm.dominante = '';
      this.editLeituraForm.data = '';
      this.editLeituraForm.dominado_id = 0;
      this.file_path = '';
    },
    initFormAdd() {
      this.addLeituraForm.id = '';
      this.addLeituraForm.tempo = '';
      this.addLeituraForm.movimento_id = '';
      this.addLeituraForm.pico = '';
      this.addLeituraForm.media = '';
      this.addLeituraForm.dominante = '';
      this.addLeituraForm.data = '';
      this.addLeituraForm.file = '';
      this.addLeituraForm.dominado_id = 0;
      this.file_path = '';
    },
    onDeleteLeitura(leitura) {
      this.removeLeitura(leitura.id);
    },
    removeLeitura(leituraID) {
      const my_url = process.env.VUE_APP_PYTHON_URL;
      const path = `http://${my_url}:5000/pacientes/${this.paciente.id}/leituras/${leituraID}`;
      axios.create({withCredentials: true}).delete(path)
        .then(() => {
          this.message = 'Leitura removida!';
          this.showMessage = true;
          this.getLeituras();
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getLeituras();
        });
    },
    addLeitura(payload) {
      const my_url = process.env.VUE_APP_PYTHON_URL;
      const path = `http://${my_url}:5000/pacientes/${this.paciente.id}/leituras`;
      axios.create({withCredentials: true}).post(path, payload, { headers: { 'Content-Type': 'multipart/form-data' } })
        .then(() => {
          this.getLeituras();
          this.message = 'Leitura adicionado!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getLeituras();
        });
    },
    getDominante(dominante){
      if(Array.isArray(dominante)){
        if(dominante.length > 0){
          return 1;
        }
        else{
          return 0;
        }
      }
      return dominante;
    },
    setDisabledByDominante(dominante){
      let my_dominante = this.getDominante(dominante);
      if(my_dominante)
        return false;
      else
        return true;
    },
    onSubmit(evt) {
      evt.preventDefault();
      if(this.addLeituraForm.dominante == 1 && this.addLeituraForm.dominado_id == 0){
        this.$refs.dominado_id.focus();
        return false;
      }
      this.$refs.addLeituraModal.hide();
      let dominante = 0;
      if (this.getDominante(this.addLeituraForm.dominante)){
        dominante = 1;
      }else{
        this.addLeituraForm.dominado_id = 0;
      }
      let formData = new FormData();
      formData.append('id',this.addLeituraForm.id);
      formData.append('paciente', this.paciente.id);
      formData.append('tempo', this.addLeituraForm.tempo);
      formData.append('movimento_id', this.addLeituraForm.movimento_id);
      formData.append('pico', this.addLeituraForm.pico);
      formData.append('media', this.addLeituraForm.media);
      formData.append('dominante', dominante);
      formData.append('data', this.addLeituraForm.data); 
      formData.append('file', this.addLeituraForm.file);  
      formData.append('dominado_id', this.addLeituraForm.dominado_id);      
      this.addLeitura(formData);
      this.initFormAdd();
    },
    onReset(evt) {
      evt.preventDefault();
      this.$refs.addLeituraModal.hide();
      this.initFormAdd();
    },
    previewImg(evt) {
      const file = evt.target.files[0];
      this.file_path = URL.createObjectURL(file);
    },
    onHiddenAdd() {
      this.file_path = '';
      this.initFormAdd();
    },
    onHiddenEdt() {
      this.file_path = '';
      this.getLeituras();
    },
    makePDF() {
      //page details
      var doc = new jsPDF("p", "mm", "a4");
      const pageWidth = doc.internal.pageSize.getWidth();
      const pageHeight = doc.internal.pageSize.getHeight();
      var img = new Image();
      img.src = require("@/assets/logo_ecosaude.png");
      let pdfName = this.paciente.nome; 
      doc.setFontSize(14);
      doc.setTextColor('#212529');
      doc.addImage(img, "PNG", (pageWidth/2)-65, 3, 130, 30, "", "NONE", 0);
      //paciente information
      const paciente_info = `Nome: ${this.paciente.nome}\nEstatura: ${this.paciente.estatura}cm\t\t\tPeso: ${this.paciente.peso}kg\nNascimento: ${this.paciente.nascimento}\t   Inicio: ${this.paciente.inicio}\nQueixa: ${this.paciente.queixa}\nGenero: ${this.paciente.genero}`;
      doc.text(paciente_info, 6, 50, {lineHeightFactor:2}, 0);
      
      //leituras
      const row_header = [['Tempo', 'Movimento', 'P. Força', 'Média', 'Referência', 'Dom.', 'Assimetria', 'Data']];
      let row_data = [];
      let row_img = [];
      for (var i = 0; i < this.paciente.leituras.length; i++){
        const leitura = this.paciente.leituras[i];
        let dominante_text = 'Não';
        if(leitura.dominante === 1){
          dominante_text = 'Sim';
        }
        row_data.push(new Array(leitura.tempo, leitura.movimento_id, leitura.pico, 
          leitura.media, leitura.referencia, dominante_text, leitura.assimetria, leitura.data));
      }
      doc.autoTable({
        head: row_header,
        body: row_data,
        startY: 95,
        tableWidth: 'auto',
        margin: {right:0,left:0},
        theme: 'striped',
        willDrawCell: function (data) {
            if (data.row.index % 2 === 1) {
              doc.setFillColor('#ced8bb');
            }else if(data.row.index % 2 === 0 && data.row.section == 'body'){
              doc.setFillColor('#e5f1d0');
            }
        },
        headStyles: { fillColor: '#80B918', textColor: 255, halign: "center" },
        styles: { overflow: 'ellipsize', cellWidth: 'wrap' },
      });
      let finalY = doc.previousAutoTable.finalY;
      var height = doc.internal.pageSize.getHeight();

      //imagens      
      for (var i = 0; i < this.paciente.leituras.length; i++){
        if (this.paciente.leituras[i].path == null){
          continue;
        }
        if (finalY + 95 >= height){
          doc.addPage();
          finalY = 6;
        }
        var img = new Image();
        img.onload = function(){
          var canvas = document.createElement("canvas");
          canvas.width = img.width;
          canvas.height = img.height;
          var ctx = canvas.getContext("2d");
          ctx.drawImage(img, 120, 80);
          var dataURL = canvas.toDataURL("image/jpeg");
          return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
        };
        img.src = this.paciente.leituras[i].path;
        let leitura_movimento = this.paciente.leituras[i].movimento_id;
        doc.text(leitura_movimento, 100, finalY+10, {lineHeightFactor:2, align: 'center'}, 0);
        doc.addImage(img, "JPG", 6, finalY+10, 120, 80, "", "NONE", 0);
        const chartid = 'mychart'+this.paciente.leituras[i].id;
        var canvas = this.$refs[chartid][0].$refs.canvas;
        canvas.style.brackgroud = 'white';
        console.log(canvas);
	      var canvasImg = canvas.toDataURL("image/png", 1.0);
        doc.addImage(canvas, "PNG", 120, finalY+16, 70, 70, "", "NONE", 0);
        finalY = finalY + 95;
      }
      doc.save(pdfName + '.pdf');
		}
  },
  beforeCreate: function () {
    if (!this.$session.exists()) {
      this.$router.push('/login')
    }
  },
  created() {
    if (this.$session.exists()) {
      this.key = this.$session.get('key');
      this.getPaciente();
      this.getMovimentos();
      this.opt_tempo = [{value: '', text: 'Selecione o tempo'},
                    {value: '1', text: '1'},
                    {value: '2', text: '2'},
                    {value: '3', text: '3'},
                    {value: '4', text: '4'},
                    {value: '5', text: '5'},
                    {value: '6', text: '6'},
                    {value: '7', text: '7'},
                    {value: '8', text: '8'},
                    {value: '9', text: '9'},
                    {value: '10', text: '10'}
                    ];
    }
  },
  filters: {
    moment: function (date) {
      return moment(date).format('DD/MM/YYYY');
    }
  },
  components: {
    BarChart,
  }
};
</script>
<style scoped>
.modal-backdrop {
  opacity: 0;
}
.w-90{
  width:90%
}
.img-50{
  width: 100%;
  height: 50%;
}
.pt-8{
  padding-top:8%;
}
.separator{
  margin: 0 auto;
  margin-top: 10px;
  border-bottom:1px solid lightgray;
  box-sizing: border-box;
}

.id_movimento_legenda{
  text-align: center;
}
</style>
